<div class="container footer"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>nos liens</h4>

        <mat-list class="footer">
          <mat-list-item><a mat-button routerLink="/" style="color: beige;">Acceuil</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/about" style="color: beige;">Qui sommes-nous</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/contact" style="color: beige;">Nous connectez</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Notre adresse</h4>
        <address >
            112 Boulevard Abdelkrim Al Khattabi,<br>  Marrakech 40000<br>Morocco<br>
          <i class="fa fa-phone"></i>:  (+212) 5 24 43 31 63<br>
          <i class="fa fa-fax"></i>:  (+212) 5 25 42 31 63<br>
          <br>
          <i class="fa fa-envelope"></i>:
          <a style="color: beige;" href="mailto:irisitalent@talent.net">irisi2021@talent.net</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2020 IRISI Talent</p>
  </div>
</div>

