<div class="container">
<div class="row">
  <div class="col-md-2" id="leftsidebar">
    <div class="insidleftbar">
      <h3 class="title">Profiles Actives:</h3>
      <div class="blocks">
        <img src="" class="commentimg">
        <img src="" class="commentimg" >
        <h3><a class="a" >login</a></h3>
      </div>
    </div>
  </div>

  <div class="col-md-7" id="center" >

    <div class="offercard">

      <div class="poster offerelement" >
        <a class="a">
          <img src="">
          <img src="">
        </a>
        <span class="postername ">login</span>
      </div>

      <form >
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Que voulez vous dire?"  name="statutIsolement"></textarea>
        </div>
      </form>
      <hr>
      <div class="offerelement" ><a class="myButton">Publier</a>
      </div>
    </div>

    <!-- repeted one -->
    <div class="offercard">

      <div class="poster offerelement">
        <img src="">
        <img src="">
        <span class="postername ">login</span>
      </div>
      <div class="offerelement ">
        <span>test</span>
        <br>
        <br>
        <div class="post-thumb-gallery">
          <figure class="post-thumb img-popup">
              <img src="assets/postes/images/post-1.jpg" alt="post image">
          </figure>
        </div>
        <div class="post-thumb-gallery">
          <figure class="post-thumb img-popup">
            <div class="embed-responsive embed-responsive-21by9">
              <video width="320" height="240" controls>
                <source src="assets/postes/videos/3%20%20Tp%20angular%20creation%20projet.mp4" type="video/mp4">
              </video>
            </div>
          </figure>
        </div>
      </div>
      <div class="panel-group">
        <button data-toggle="collapse" data-target="#demo">Collapsible</button>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="offerelement">
              <div class="we-video-info">
                <ul>
                  <li>
															<span class="views" data-toggle="tooltip" title="views">
																<i class="fa fa-eye"></i>
																<ins>1.2k</ins>
															</span>
                  </li>
                  <li>
															<span class="comments" data-toggle="tooltip" title="Comments">
																<a href="#"><i class="fa fa-comments-o"></i></a>
																<ins>52</ins>
															</span>
                  </li>
                  <li>
															<span class="like" data-toggle="tooltip" title="like">
																<i class="fa fa-heart-o"></i>
																<ins>2.2k</ins>
															</span>
                  </li>
                  <li>
															<span class="dislike" data-toggle="tooltip" title="dislike">
																<i class="fa fa-thumbs-o-down"></i>
																<ins>200</ins>
															</span>
                  </li>
                </ul>
              </div>
            </div>
            <hr>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">

              <div class="commentarea">
                <div class="comment">
                  <img class="commentimg" src="" style="margin-top: -12px;" >

                  <span>Test</span>

                </div>
                <div class="addcomment">
                  <div class="displayitems" >

                    <img class="commentimg" src="" style=" margin-bottom: -15px;" >


                  </div>
                  <div class="displayitems">
                    <form>
                      <div class="form-group ">
                        <input class="form-control commentinput " type="text" placeholder="Ajouter un commentaire" name="commentaire">

                      </div>
                    </form>
                  </div>
                  <div class="displayitems" ><a class="addcommentN" id="addcomment" >Envoyer</a>
                  </div>

                </div>


              </div>



            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- repeted one -->


  </div>

  <div class="col-md-3" id="rightsidebar">

    <div class="blocks "  >
      <h2 > Catégories: </h2>
    </div>
    <div class="blocks" >
      <div class="widget-body">
        <ul class="like-page-list-wrapper">
          <li class="unorder-list">
            <!-- profile picture end -->
            <div class="profile-thumb">
              <a href="#">
                <figure class="profile-thumb-small">
                  <img src="assets/images/profile/profile-small-9.jpg" alt="Cat_img">
                </figure>
              </a>
            </div>
            <!-- profile picture end -->

            <div class="unorder-list-info">
              <h3 class="list-title"><a href="#">IOT</a></h3>
            </div>
          </li>
          <li class="unorder-list">
            <!-- profile picture end -->
            <div class="profile-thumb">
              <a href="#">
                <figure class="profile-thumb-small">
                  <img src="assets/images/profile/profile-small-35.jpg" alt="Cat_img">
                </figure>
              </a>
            </div>
            <!-- profile picture end -->

            <div class="unorder-list-info">
              <h3 class="list-title"><a href="#">IA</a></h3>
            </div>
          </li>
        </ul>
    </div>
    </div>
  </div>
</div>
</div>
